#contact {
  padding-bottom: 5rem;
}

.contact {

  &-title {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-link {
    margin-top: 1rem;
    margin-left: 1.75rem;

    &:hover {
      .contact-icon {
        filter: hue-rotate(270deg);
      }
    }
  }

  &-icon {
    filter: hue-rotate(360deg);
    --icon-size: 65px;
    width: var(--icon-size);
    height: var(--icon-size);
    transition: all 0.3s ease-in-out;
  }
}