@font-face {
  font-family: 'Raleway';
  src: url('./Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: bold;
  src: url('./Raleway-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  src: url('./Raleway-Light.ttf') format('truetype');
}