:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --highlight-color: #f7df1e;
  --primary-font: 'Raleway', Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-color);
  font-family: var(--primary-font);
}

html {
  font-size: 10px;
}

body {
  background-color: var(--secondary-color);
  overflow-x: hidden;
  font-size: 1.6rem;
  
  a {
    text-decoration: none;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }
}
