// Sections
.section {
  padding-top: 5rem;
  padding-bottom: 10rem;
  
  &-title {
    color: var(--primary-color);
    font-size: 5rem;
    text-align: center;
    margin-bottom: 5rem;

    &::after {
      content: '';
      display: block;
      width: 10vw;
      height: 5px;
      background-color: var(--primary-color);
      margin: 0 auto;
      margin-top: 4rem;
      margin-bottom: 8rem;
    }
  }
}

// Colors
.highlight {
  color: var(--highlight-color); 
}

.stack {
  background-color: var(--secondary-color);
  padding: 1rem;
  font-weight: bold;
  border-radius: 30px;
  margin-right: 1rem;

  &-angular {
    color: #c3002f; 
  }

  &-html {
    color: #f06529;
  }

  &-css {
    color: #2965f1;
  }

  &-javascript {
    color: var(--primary-color);
  }

  &-c\+\+ {
    color: #044F88;
  }

  &-\.net {
    color: #682A7B;
  }

  &-react {
    color: #61dbfb;
  }

  &-python { 
    color: var(--primary-color);
  }

  &-flask {
    color: #4db2c4;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
 .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}