<footer id="footer" class="section section-inverse">
  <div class="container">
    <h2 class="footer-title">
      Made by
      <a class="footer-link" href="https://github.com/Sufferal" target="_blank">
        Suf<span>&#8203;</span>feral
      </a>
    </h2>

    <div class="crerdits">
      <h2 class="footer-credits">Credits</h2>
      <h2 class="credit-title">
        Header animation made by 
        <a href="https://codepen.io/tonkotsuboy" target="_blank">Takeshi Kano</a>
      </h2>
      <ul class="credit-list">
        <li class="credit-item">
          Portfolio folder icon created by 
          <a
            class="credit-link"
            href="https://www.flaticon.com/free-icons/portfolio-folder"
            title="portfolio folder icons"
            target="_blank"
            >Rasama studio - <span class="credit-flaticon">Flaticon</span></a
          >
        </li>
        <li class="credit-item">
          User icon created by 
          <a
            class="credit-link"
            href="https://www.flaticon.com/free-icons/user"
            title="user icons"
            target="_blank"
            >Freepik - <span class="credit-flaticon">Flaticon</span></a
          >
        </li>
        <li class="credit-item">
          Dashboard icon created by
          <a
            class="credit-link"
            href="https://www.flaticon.com/free-icons/dashboard"
            title="dashboard icons"
            target="_blank"
            >Pixel perfect - <span class="credit-flaticon">Flaticon</span></a
          >
        </li>
        <li class="credit-item">
          Journal icon created by 
          <a
            class="credit-link"
            href="https://www.flaticon.com/free-icons/journal"
            title="journal icons"
            target="_blank"
            >nangicon - <span class="credit-flaticon">Flaticon</span></a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
