<footer id="footer" class="section section-inverse">
  <div class="container">
    <h2 class="footer-title">
      Made by
      <a class="footer-link" href="https://github.com/Sufferal" target="_blank">
        Ciprian Bt.
      </a>
    </h2>

    <div class="crerdits">
      <h2 class="footer-credits">Credits</h2>
      <ul class="credit-list">
        <li class="credit-item">
          <a
            class="credit-link"
            href="https://www.flaticon.com/free-icons/portfolio-folder"
            title="portfolio folder icons"
            target="_blank"
            >Portfolio folder icon created by Rasama studio - <span class="credit-flaticon">Flaticon</span></a
          >
        </li>
        <li class="credit-item">
          <a
            class="credit-link"
            href="https://www.flaticon.com/free-icons/user"
            title="user icons"
            target="_blank"
            >User icon created by Freepik - <span class="credit-flaticon">Flaticon</span></a
          >
        </li>
        <li class="credit-item">
          <a
            class="credit-link"
            href="https://www.flaticon.com/free-icons/dashboard"
            title="dashboard icons"
            target="_blank"
            >Dashboard icon created by Pixel perfect - <span class="credit-flaticon">Flaticon</span></a
          >
        </li>
        <li class="credit-item">
          <a
            class="credit-link"
            href="https://www.flaticon.com/free-icons/journal"
            title="journal icons"
            target="_blank"
            >Journal icon created by nangicon - <span class="credit-flaticon">Flaticon</span></a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
