<nav class="navbar navbar-sticky" #navbar>
  <div class="container">
    <h2 class="author">
      <a class="author-link" href="https://www.linkedin.com/in/ciprian-botnari-b15a5b286/"
         target="_blank">
        Ciprian Bt.
      </a>
    </h2>
    <div class="menu" [ngClass]="menuDisplay ? 'active' : null">
      <div class="links">
        <a class="link" (click)="scrollToElement('header')">Home</a>
        <a class="link" (click)="scrollToElement('projects')">Projects</a>
        <a class="link" (click)="scrollToElement('skills')">Skills</a>
        <a class="link" (click)="scrollToElement('contact')">Contact</a>
      </div>

      <button
        type="button" 
        class="hamburger-menu" 
        (click)="toggleMenu()" 
      >
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
      </button>  
    </div>
  </div>
</nav>
