<header id="header" class="flex-center">
  <div class="container">
    <ngx-typed-js 
    [strings]="[
      'A <span class=\'highlight\'>front-end</span> developer who loves turning pixels into magic', 
      '<span class=\'highlight\'>Skills:</span> Angular, React, Design',
      'Building <span class=\'highlight\'>projects</span>, one line of code at a time', 
      'How do you comfort a <span class=\'highlight\'>JavaScript</span> bug? You console it',
      'Cake is a <span class=\'highlight\'>lie</span>',
    ]"
    [typeSpeed]="35"
    [backSpeed]="35"
    [loop]="true"
    [showCursor]="false">
      <h2 class="typing header-title"></h2>
    </ngx-typed-js>
    <h3 class="header-subtitle">
      Turning ideas into reality through code and <br> 
      crafting the best user experiences 
    </h3>
  </div>
</header>